@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: SpotifyMixUI-Regular;
	src: url("/SpotifyMixUI-Regular.woff2");
}

body {
	color: white;
	margin: 0;
	padding: 0;
	font-family: SpotifyMixUI-Regular;
	width: 100vw;
	height: 100dvh;
	background: linear-gradient(var(--light-color), var(--dark-color), black);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	--light-color: #000;
	--dark-color: #121212;
	--text-shadow-blur-radius: 4px;
	--text-shadow-opacity: 0%;
	--gradient-color: 255;
	--gradient-color-alpha: 0.4;
	--gradient-color-alpha-active: 0.85;
	--text-shadow-blur-radius: 12px;
	--text-shadow-opacity: 51%;
	--gradient-progress: 100%;
}

a:hover {
	text-decoration: underline;
}
@property --gradient-progress {
	syntax: "<percentage>";
}

body > #side {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex: 1;
}

.track {
	display: flex;
	flex-direction: column;

	width: -moz-available;
	width: -webkit-fill-available;
	height: fit-content;

	overflow: hidden;

	z-index: 1;
	box-shadow: 0px 10px 5px #000, 0px 0px 5px #000;
	border-radius: 5px 5px 0px 0px;
}
.extraContainer {
	width: -moz-available;
	width: -webkit-fill-available;
	overflow-y: scroll;
	font-size: 24px;
	font-weight: 700;
	clip-path: border-box;
	position: relative;
}

.extra {
	position: absolute;
	width: -moz-available;
	width: -webkit-fill-available;
}

.extra::-webkit-scrollbar {
	display: none;
}

.extra > .lyrLine {
	font-size: 20px;
	margin: 4px;
	color: rgba(255, 255, 255, var(--gradient-color-alpha));
	transition: 0.1s;
	filter: blur(1px);
	width: 100%;
}

.extra > .lyrLine > .bg {
	font-size: 13px;
}

.extra > .instrumental {
	display: none;
}
.extra > button.instrumental.lineActive {
	font-size: 16px;
	display: flex;
	align-items: center;
}
.extra > button.lineActive {
	font-size: 22px;
	text-shadow: 0 0 var(--text-shadow-blur-radius) rgba(255, 255, 255, var(--gradient-color-alpha));
	filter: blur(0px);
}
.extra > button.lineActive.lineAnimate {
	background-image: linear-gradient(
		180deg,
		rgba(
				var(--gradient-color),
				var(--gradient-color),
				var(--gradient-color),
				var(--gradient-color-alpha-active)
			)
			var(--gradient-progress),
		rgba(
				var(--gradient-color),
				var(--gradient-color),
				var(--gradient-color),
				var(--gradient-color-alpha)
			)
			calc(var(--gradient-progress) + 20%)
	);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	transition: 0.1s;
}

div.extra > button.lineActive > span.sylInactive {
	font-size: 30px;
	color: rgba(255, 255, 255, var(--gradient-color-alpha));
}
div.extra > button.lineActive > span.bg {
	font-size: 16px;
}
.extra > button.lineActive > span.sylActive {
	font-size: 30px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation-name: bounce;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
	position: relative;
	background-image: linear-gradient(
		90deg,
		rgba(
				var(--gradient-color),
				var(--gradient-color),
				var(--gradient-color),
				var(--gradient-color-alpha-active)
			)
			var(--gradient-progress),
		rgba(
				var(--gradient-color),
				var(--gradient-color),
				var(--gradient-color),
				var(--gradient-color-alpha)
			)
			calc(var(--gradient-progress) + 20%)
	);
}
.extra > div > .queueItem {
	color: white;
	background-color: var(--light-color);
	border-radius: 8px;
}

.queueItem {
	font-weight: 400;
	display: flex;
	padding: 8px 0;
}

.queueItem > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-wrap: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.queueItem > img {
	border-radius: 4px;
	width: 48px;
	height: 48px;
	margin-right: 8px;
	background: #282828;
}

.contextTitle {
	font-size: 16px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: flex;
	align-items: center;
	text-wrap: nowrap;
}

.playback > img {
	border-radius: 4px;
	aspect-ratio: 1/1;
	background: #282828;
	border: none;
	display: block;
}

.playingTitle {
	font-weight: 700;
	width: 100%;
	/* overflow: hidden; */
	text-wrap: nowrap;
}

.playingArtist {
	color: rgba(255, 255, 255, 0.7);
	width: 100%;
	overflow: hidden;
	text-wrap: nowrap;
}
.activeDevice {
	color: #1abc54;
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-wrap: nowrap;
}

/*  */
@keyframes onAnimate {
	0% {
		width: 10px;
		height: 10px;
	}
	50% {
		width: 15px;
		height: 15px;
	}
	100% {
		width: 10px;
		height: 10px;
	}
}
@keyframes animateEnd {
	0% {
		width: 10px;
		height: 10px;
	}
	20% {
		width: 15px;
		height: 15px;
	}
	80% {
		width: 1px;
		height: 1px;
	}
}
@keyframes a {
	0% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(calc(180deg + 1turn));
	}
}

@keyframes bounce {
	0% {
		top: 0px;
	}
	50% {
		top: -2px;
	}

	100% {
		top: 0px;
	}
}

.instrumentalText {
	transition: 1s;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 24px;
	width: 60px;
}
.instrumentalText > span {
	border-radius: 25px;
	margin: 2px;
	display: inline-block;
	transition: 1s;
	animation-duration: 2s;
	background-color: rgba(255, 255, 255, calc(var(--alpha) + 0.1));
	transition: 0.5s;
}

.instrumentalText.animation > span {
	width: 10px;
	height: 10px;
	animation-name: onAnimate;
	animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
	animation-iteration-count: infinite;
}
.instrumentalText.animation-end > span {
	width: 0px;
	height: 0px;
	animation-name: animateEnd;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
	animation-iteration-count: 1;
}

#bg {
	z-index: -1;
	width: 100%;
	height: 100%;
	position: fixed;
	filter: saturate(2.5) brightness(0.65);
	overflow: hidden;
	max-height: 55%;
	max-width: 35%;
	scale: 290% 185%;
	transform-origin: left top;
	pointer-events: none;
}
img.Front {
	right: 0;
	top: 0;
	z-index: 2;
}
img.Back {
	animation-direction: reverse;
	bottom: -49px;
	left: -20px;
	z-index: 1;
}
img.BackCenter {
	animation-direction: reverse;
	right: -50%;
	top: -20%;
	width: 300%;
	z-index: 0;
}

.Front,
.Back,
.BackCenter {
	animation: a 100s linear infinite;
	border-radius: 100em;
	filter: blur(40px);
	position: absolute;
	width: 200%;
	max-width: 200%;
	height: auto;
}
/* 
.sylActive {
	outline: green solid 1px;
}
.sylInactive {
	outline: red solid 1px;
} */

.isLoading,
button:active {
	opacity: 0.5;
}

#track {
	width: 100%;
	height: 4px;
	background: rgba(255, 255, 255, 0.3);
	overflow: hidden;
	border-radius: 25px;
}

#track > div {
	width: var(--width);
	height: 100%;
	background: white;
	border-radius: 25px;
}
