@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: SpotifyMixUI-Regular;
	src: url("/SpotifyMixUI-Regular.woff2");
}
:root {
	--light-color: #5c5c5c;
	--dark-color: #121212;
	--text-shadow-blur-radius: 4px;
	--text-shadow-opacity: 0%;
	--gradient-color: 255;
	--gradient-color-alpha: 0.4;
	--gradient-color-alpha-active: 0.85;
	--text-shadow-blur-radius: 12px;
	--text-shadow-opacity: 51%;
	--gradient-progress: 100%;
}
body {
	font-family: SpotifyMixUI-Regular;
}

a:hover {
	text-decoration: underline;
}
@property --gradient-progress {
	syntax: "<percentage>";
}

.box-shadow {
	box-shadow: 0px 10px 5px #000, 0px 0px 5px #000;
}
.clip-path {
	clip-path: border-box;
}

.extra::-webkit-scrollbar {
	display: none;
}

.gradient-color {
	color: rgba(255, 255, 255, var(--gradient-color-alpha));
}

.extra > .instrumental {
	display: none;
}
.extra > button.instrumental.lineActive {
	font-size: 16px;
	display: flex;
	align-items: center;
	opacity: 1;
}
.extra > button.lineActive {
	font-size: 22px;
	text-shadow: 0 0 1rem rgba(255, 255, 255, var(--glow));
	opacity: 1;
}
.extra > button.lineActive.lineAnimate {
	background-image: linear-gradient(
		180deg,
		rgba(
				var(--gradient-color),
				var(--gradient-color),
				var(--gradient-color),
				var(--gradient-color-alpha-active)
			)
			var(--gradient-progress),
		rgba(
				var(--gradient-color),
				var(--gradient-color),
				var(--gradient-color),
				var(--gradient-color-alpha)
			)
			calc(var(--gradient-progress) + 20%)
	);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

div.extra > button.lineActive > span.sylInactive {
	font-size: 30px;
	color: rgba(255, 255, 255, var(--gradient-color-alpha));
}
div.extra > button.lineActive > span.bg {
	font-size: 16px;
}
.extra > button.lineActive > span.sylActive {
	font-size: 30px;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation-name: bounce;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
	position: relative;
	text-shadow: 0 0 0.5rem rgba(255, 255, 255, var(--glow));
	background-image: linear-gradient(
		90deg,
		rgba(
				var(--gradient-color),
				var(--gradient-color),
				var(--gradient-color),
				var(--gradient-color-alpha-active)
			)
			var(--gradient-progress),
		rgba(
				var(--gradient-color),
				var(--gradient-color),
				var(--gradient-color),
				var(--gradient-color-alpha)
			)
			calc(var(--gradient-progress) + 20%)
	);
}
/*  */
@keyframes onAnimate {
	0% {
		width: 10px;
		height: 10px;
	}
	50% {
		width: 15px;
		height: 15px;
	}
	100% {
		width: 10px;
		height: 10px;
	}
}
@keyframes animateEnd {
	0% {
		width: 10px;
		height: 10px;
	}
	100% {
		width: 1px;
		height: 1px;
	}
}
@keyframes a {
	0% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(calc(180deg + 1turn));
	}
}

@keyframes bounce {
	0% {
		top: 0px;
	}
	50% {
		top: -2px;
	}

	100% {
		top: 0px;
	}
}

.instrumentalText {
	transition: 1s;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 24px;
	width: 60px;
}
.instrumentalText > span {
	border-radius: 25px;
	margin: 2px;
	display: inline-block;
	transition: 1s;
	animation-duration: 2s;
	background-color: rgba(255, 255, 255, calc(var(--alpha) + 0.1));
	transition: 0.5s;
}

.instrumentalText.animation > span {
	animation-name: onAnimate;
	animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
	animation-iteration-count: infinite;
}
.instrumentalText.animation-end > span {
	animation-name: animateEnd;
	animation-duration: 0.1s;
	animation-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
	animation-iteration-count: 1;
}

img.Front {
	right: 0;
	top: 0;
	z-index: 2;
}
img.Back {
	animation-direction: reverse;
	bottom: -49px;
	left: -20px;
	z-index: 1;
}
img.BackCenter {
	animation-direction: reverse;
	right: -50%;
	top: -20%;
	width: 300%;
	z-index: 0;
}

.Front,
.Back,
.BackCenter {
	animation: a 20s linear infinite;
}
/* 
.sylActive {
	outline: green solid 1px;
}
.sylInactive {
	outline: red solid 1px;
} */

.isLoading,
button:active {
	opacity: 0.5;
}

.bg-lightly {
	background: rgba(255, 255, 255, 0.3);
}
